<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>

  <!-- Server configuration for SSO login -->
  <location path="sso">
    <system.web>
      <authorization>
        <!-- Allow unauthenticated users to run OPTIONS preflight calls -->
        <allow verbs="OPTIONS" users="*" />
        <!-- Deny all other anonymous access -->
        <deny users="?"/>
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <!-- Anonymous auth must be enabled to allow the unauthenticated OPTIONS preflight calls -->
          <anonymousAuthentication enabled="true" />
          <!-- Enable Windows Auth to allow SSO calls -->
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>
