<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Role</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <input type="hidden" id="role_id" name="role_id" (value)="roleId" />

  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Role name" class="form-control"
             [formControl]="editForm.controls['name']" required
             [class.is-invalid]="!editForm.controls['name'].valid && editForm.controls['name'].touched">
      <em *ngIf="editForm.controls['name'].hasError('required')" class="invalid-feedback">Field Name is required</em>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">OK</button>
  </div>
</form>
