<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Issued Refresh Tokens ({{tokens.length}})

    <div class="card-header-actions">
      <button type="button" class="card-header-action btn btn-primary active" (click)="refresh();" title="Refresh"><i class="fa fa-refresh"></i></button>
    </div>
  </div>
  <div class="card-body">
    <p *ngIf="!tokens"><em>Loading...</em></p>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Action</th>
          <th>Subject</th>
          <th>Client</th>
          <th>Issued At (UTC)</th>
          <th>Expires At (UTC)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let token of tokens; index as i">
          <td>
            <a (click)="deleteRefreshToken(i,token.id)" [routerLink]="">Remove</a>
          </td>
          <td>
            {{ token.subject }}
          </td>
          <td>
            {{ token.clientId }}
          </td>
          <td>
            {{ token.issuedUtc | date:'medium' }}
          </td>
          <td>
            {{ token.expiresUtc | date:'medium' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
