<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Orders

    <div class="card-header-actions">
      <button type="button" class="card-header-action btn btn-primary active" (click)="refreshData();" title="Refresh"><i class="fa fa-refresh"></i></button>
    </div>
  </div>
  <div class="card-body">
    <p>This component demonstrates fetching data from the database.</p>
    
    <dx-data-grid id="gridContainer"
                  [dataSource]="dataSource"
                  [remoteOperations]="true"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [showBorders]="true">

      <dxo-filter-row 
        [visible]="true" 
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
      <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>

      <dxi-column dataField="orderId" caption="ID" dataType="number"></dxi-column>
      <dxi-column dataField="customerName" caption="Customer Name" dataType="string"></dxi-column>
      <dxi-column dataField="shipperCity" caption="Shipper City" dataType="string"></dxi-column>
      <dxi-column dataField="isShipped" caption="Shipped" dataType="boolean"></dxi-column>
    </dx-data-grid>
  </div>
</div>
