<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Application Roles ({{roles.length}})
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary active mb-4" (click)="refresh();">Refresh</button>

    <p *ngIf="!roles"><em>Loading...</em></p>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; index as i">
          <td>
            <a (click)="deleteRole(i,token.id)" [routerLink]="">Remove</a>
          </td>
          <td>
            {{ role.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
