<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Edit order
  </div>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <div>
          <label for="role" class="col-form-label">Customer Name</label>
          <input type="text" id="role" name="role" placeholder="Customer Name" class="form-control"
                 [formControl]="editForm.controls['role']" required
                 [class.is-invalid]="!editForm.controls['role'].valid && editForm.controls['role'].touched" />
          <em *ngIf="editForm.controls['role'].hasError('required')" class="invalid-feedback">Field Customer Name is required</em>
        </div>
        <div>
          <label for="username" class="col-form-label">Shipper City</label>
          <input type="text" id="username" name="username" placeholder="Shipper City" class="form-control"
                 [formControl]="editForm.controls['username']" required
                 [class.is-invalid]="!editForm.controls['username'].valid && editForm.controls['username'].touched">
          <em *ngIf="editForm.controls['username'].hasError('required')" class="invalid-feedback">Field Shipper City is required</em>
        </div>
        <div class="form-check">
          <input type="checkbox" id="chkShipped" name="chkShipped" class="form-check-input"
                 [formControl]="editForm.controls['isShipped']">
          <label for="chkShipped" class="form-check-label">Is Shipped</label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary active mr-1" backButton><i class="fa fa-arrow-circle-left"></i> Cancel</a>
      <input type="submit" class="btn btn-primary active mr-1" (click)="onSubmit();" [disabled]="!editForm.valid" value="Save" />
    </div>
  </form>
</div>
