<div class="modal-header">
  <h4 class="modal-title pull-left">Add User to Role</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <div>
        <label for="role" class="col-form-label">Role</label>
        <select id="role" name="role" placeholder="Role Name" class="form-control"
                [formControl]="editForm.controls['role']" required
                [class.is-invalid]="!editForm.controls['role'].valid && editForm.controls['role'].touched">
          <option *ngFor="let role of roles" (value)="role">{{role}}</option>
        </select>
        <em *ngIf="editForm.controls['role'].hasError('required')" class="invalid-feedback">Field Role is required</em>
      </div>
      <div>
        <label for="username" class="col-form-label">User Name</label>
        <input type="text" id="username" name="username" placeholder="User Name" class="form-control"
               [formControl]="editForm.controls['username']" required
               [class.is-invalid]="!editForm.controls['username'].valid && editForm.controls['username'].touched">
        <em *ngIf="editForm.controls['username'].hasError('required')" class="invalid-feedback">Field User Name is required</em>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">OK</button>
  </div>
</form>
